name: Deploy to Vultr

on:
  workflow_dispatch:

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python environment
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests
      env:
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      run: |
        # replace this with your test command
        python -m unittest

  deploy:
    name: Deploy to Vultr
    needs: test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Execute commands over SSH on Vultr VM
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.VULTR_VM_HOST }}
        username: ${{ secrets.VULTR_VM_USERNAME }}
        key: ${{ secrets.VULTR_VM_SSH_KEY }}
        password: ${{ secrets.VULTR_VM_PASSWORD }}   # Included password as per your setup
        script: |
          sudo ufw allow 443
          sudo apt-get update && apt-get upgrade -y
          sudo apt-get install -y git python3-venv
          
          export OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }}
          export REPO_DIR=/root/openai_proxy
          rm -rf $REPO_DIR
          git clone -b ${{ GITHUB.REF_NAME }} https://github.com/dimitree54/openai_proxy.git $REPO_DIR
          cd $REPO_DIR
          
          python3 -m venv venv
          source venv/bin/activate
          pip3 install -U pip setuptools wheel
          pip3 install -r requirements.txt
          
          systemctl stop openai_proxy_ipv4 || true
          systemctl stop openai_proxy_ipv6 || true
          # Create the systemd service
          echo "[Unit]
          Description=Gunicorn instance for serving your app
          After=network.target
          
          [Service]
          User=root
          WorkingDirectory=/root/openai_proxy
          Environment=\"OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }}\"
          ExecStart=/root/openai_proxy/venv/bin/gunicorn server:app -w 4 -b 0.0.0.0:443  --certfile=/etc/letsencrypt/live/rashchenko.xyz/fullchain.pem --keyfile=/etc/letsencrypt/live/rashchenko.xyz/privkey.pem --reuse-port
          
          [Install]
          WantedBy=multi-user.target" | tee /etc/systemd/system/openai_proxy_ipv4.service
          
          echo "[Unit]
          Description=Gunicorn instance for serving your app
          After=network.target
          
          [Service]
          User=root
          WorkingDirectory=/root/openai_proxy
          Environment=\"OPENAI_API_KEY=${{ secrets.OPENAI_API_KEY }}\"
          ExecStart=/root/openai_proxy/venv/bin/gunicorn server:app -w 4 -b [::]:443  --certfile=/etc/letsencrypt/live/rashchenko.xyz/fullchain.pem --keyfile=/etc/letsencrypt/live/rashchenko.xyz/privkey.pem --reuse-port
          
          [Install]
          WantedBy=multi-user.target" | tee /etc/systemd/system/openai_proxy_ipv6.service
          
          systemctl daemon-reload
          systemctl enable openai_proxy_ipv4
          systemctl start openai_proxy_ipv4
          systemctl enable openai_proxy_ipv6
          systemctl start openai_proxy_ipv6
